{% extends "base.html" %}

{% block content %}
    {% if contact %}
        <table class="table">
            <tbody>
                <tr><th colspan="100" style="text-align: center;">
                    <h3>Contact Detail</h3>
                </th></tr>
                <tr><td>First Name</td><td>{{ contact.firstName }}</td></tr>
                <tr><td>Last Name</td><td>{{ contact.lastName }}</td></tr>
                <tr><td>Company</td><td>{{ contact.company }}</td></tr>
                <tr><td>Phone</td><td>{{ contact.phone }}</td></tr>
                <tr><td>Email</td><td>{{ contact.email }}</td></tr>
                <tr><td>Website</td><td>{{ contact.website }}</td></tr>
                <tr><td>Unit Number</td><td>{{ contact.unitNumber }}</td></tr>
                <tr><td>Civic Number</td><td>{{ contact.civicNumber }}</td></tr>
                <tr><td>Street</td><td>{{ contact.street }}</td></tr>
                <tr><td>City</td><td>{{ contact.city }}</td></tr>
                <tr><td>Province</td><td>{{ contact.province }}</td></tr>
                <tr><td>Postal Code</td><td>{{ contact.postalCode }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <p style="text-align: center;">No contacts found </p>
    {% endif %}
{% endblock %}