{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Contact Management</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body class="light-grey content" style="max-width:1600px">


  <div class="main" style="margin-left:10px">
    <header id="portfolio">
      <a class="circle right margin hide-large hover-opacity" 
        href="{% url 'users:logout' %}">
        <i class="fa fa-sign-out margin-right"></i>Logout
      </a>
      <span class="button hide-large xxlarge hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
      <div class="container">
        <h1><b>Contacts Management</b></h1>
        <div class="section bottombar padding-16">
          <span class="margin-right"></span>
          <a class="button white" href="{% url 'contacts:readContact' %}"><i class="fa fa-diamond margin-right"></i>Read Contact</a>
          <a class="button white" href="{% url 'contacts:createContact' %}"><i class="fa fa-photo margin-right"></i>Add Contact</a>
          <a class="button white" href="{% url 'contacts:updateContact' %}"><i class="fa fa-map-pin margin-right"></i>Update Contact</a>
          <a class="button white" href="{% url 'contacts:deleteContact' %}"><i class="fa fa-map-pin margin-right"></i>Delete Contact</a>
        </div>
      </div>
    </header>

    <div class="row-padding">
    </div>



    <footer class="container padding-24 dark-grey">
      <div class="center">
        INSE6250 Winter-2024 Project
      </div>
    </footer>


    
  </div>

</body>

</html>