{% extends "base.html" %}



{% block content %}
{% if contact %}
<div class="addContact container_main">
  <div class="registration form">
    <header>Update Contact</header>
    <form action="{% url 'contacts:updateContact' contact.id %}" method="post">
      {% csrf_token %}
      <div class="form-flex">
        <input type="text" required value="{{contact.firstName}}" name="firstname" placeholder="First Name">
        <input type="text" required value="{{contact.lastName}}" name="lastname" placeholder="Last Name">
        <input type="text" required value="{{contact.company}}" name="company" placeholder="Company">
        <input type="text" required value="{{contact.phone}}" name="phone" placeholder="Phone Number">
        <input type="text" required value="{{contact.email}}" name="email" placeholder="Email Address">
        <input type="text" required value="{{contact.website}}" name="website" placeholder="Website Address (http(s)://x.x)">
        <input type="number" required value="{{contact.unitNumber}}" name="unitNumber" placeholder="Unit Number">
        <input type="number" required value="{{contact.civicNumber}}" name="civicNumber" placeholder="Civic Number">
        <input type="text" required value="{{contact.street}}" name="street" placeholder="Street Code">
        <input type="text" required value="{{contact.city}}" name="city" placeholder="City">
        <input type="text" required value="{{contact.province}}" name="province" class="upper" maxlength="2" placeholder="Province (QC)">
        <input type="text" required value="{{contact.postalCode}}" name="postalCode" class="upper" maxlength="3" placeholder="Postal Code (A1A or 1A1)">
      </div>
      
      {% include "contacts/message.html" %}
      
      <button type="submit" class="button">Update Contact</button>
    </form>
  </div>
</div>
{% else %}
    <p style="text-align: center;">No contacts found </p>
{% endif %}
{% endblock %}